# ========================================================
# TME-CORE ENVIRONMENT CONFIGURATION
# Rename file ini menjadi .env dan isi dengan data aslimu
# ========================================================
# --- KONFIGURASI MIKROTIK ---
MIKROTIK_IP=
MIKROTIK_USER=
MIKROTIK_PASS=
MIKROTIK_PORT=8728

# --- KONFIGURASI KEAMANAN ---
# IP yang kebal blokir (Misal: IP Admin, IP Server, localhost). Pisahkan dengan koma.
WHITELIST_IPS=xxx.xxx.xxx.xxx,xxx.xxx.xxx.xxx,xxx.xxx.xxx.xxx

# --- KONFIGURASI TELEGRAM BOT (Opsional) ---
TELEGRAM_TOKEN=
TELEGRAM_CHAT_ID=